In [50]:
import pandas as pd
import numpy as np

In [51]:
!ls ../featured_datasets/missing_values.csv
!ls ../featured_datasets/traffic_dataset.csv

../featured_datasets/missing_values.csv
../featured_datasets/traffic_dataset.csv

In [57]:
missing_values = pd.read_csv("../featured_datasets/missing_values.csv")
traffic_dataset = pd.read_csv("../featured_datasets/traffic_dataset.csv")
missing_values.describe()

,Hour,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity
count,24.000000,24.0,24.000000,24.000000,24.000000,24.000000,24.0,24.000000
mean,11.500000,0.0,15.133432,1017.864905,81.784658,3.054937,0.0,1.000000
std,7.071068,0.0,2.741331,0.382420,7.716265,0.764641,0.0,1.021508
min,0.000000,0.0,11.740351,1017.364912,69.583630,2.199301,0.0,0.000000
25%,5.750000,0.0,12.731085,1017.516509,74.375465,2.319384,0.0,0.000000
50%,11.500000,0.0,14.469047,1017.855964,83.997442,2.865255,0.0,1.000000
75%,17.250000,0.0,17.845645,1018.172356,89.307385,3.788650,0.0,2.000000
max,23.000000,0.0,19.448399,1018.556738,90.000000,4.249123,0.0,2.000000

In [61]:
traffic_dataset.describe()

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity
count,33624.000000,33624.000000,33624.000000,33624.000000,33624.000000,27264.000000,27284.000000,27284.000000,27284.000000,27284.000000,27284.000000,27284.000000,27284.000000
mean,190.386748,11.505353,0.714490,2.500000,2.250000,1.256599,0.112593,15.119337,1017.863950,81.830523,3.050872,35.265797,0.985046
std,101.095180,6.923834,0.451664,1.118051,0.829169,0.477806,0.439505,5.505318,5.955273,17.188896,2.179745,34.919204,0.978340
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,990.000000,19.000000,0.000000,0.000000,0.000000
25%,103.000000,6.000000,0.000000,1.750000,1.750000,0.999999,0.000000,11.000000,1015.000000,72.000000,1.000000,0.000000,0.000000
50%,190.000000,12.000000,1.000000,2.500000,2.500000,1.000000,0.000000,15.000000,1018.000000,87.000000,3.000000,20.000000,1.000000
75%,278.000000,18.000000,1.000000,3.250000,3.000000,1.350835,0.000000,18.000000,1021.000000,93.000000,4.000000,75.000000,2.000000
max,365.000000,23.000000,1.000000,4.000000,3.000000,10.210303,3.000000,34.000000,1033.000000,100.000000,14.000000,100.000000,2.000000

In [63]:
pd.options.mode.chained_assignment = None

for i in range(0,len(traffic_dataset)):
    if(pd.isnull(traffic_dataset['temperature'][i]) == True):
        traffic_dataset['temperature'][i] = missing_values['temperature'][traffic_dataset['Hour'][i]]
        
    if(pd.isnull(traffic_dataset['rain'][i]) == True):
        traffic_dataset['rain'][i] = missing_values['atmospheric_pressure'][traffic_dataset['Hour'][i]]
        
    if(pd.isnull(traffic_dataset['atmospheric_pressure'][i]) == True):
        traffic_dataset['atmospheric_pressure'][i] = missing_values['atmospheric_pressure'][traffic_dataset['Hour'][i]]
    
    if(pd.isnull(traffic_dataset['humidity'][i]) == True):
        traffic_dataset['humidity'][i] = missing_values['humidity'][traffic_dataset['Hour'][i]]
        
    if(pd.isnull(traffic_dataset['wind_speed'][i]) == True):
        traffic_dataset['wind_speed'][i] = missing_values['wind_speed'][traffic_dataset['Hour'][i]]
    
    if(pd.isnull(traffic_dataset['clouds'][i]) == True):
        traffic_dataset['clouds'][i] = missing_values['clouds'][traffic_dataset['Hour'][i]]
    
    if(pd.isnull(traffic_dataset['current_luminosity'][i]) == True):
        traffic_dataset['current_luminosity'][i] = missing_values['current_luminosity'][traffic_dataset['Hour'][i]]

In [64]:
traffic_dataset.describe()

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity
count,33624.000000,33624.000000,33624.000000,33624.000000,33624.000000,27264.000000,33624.000000,33624.000000,33624.000000,33624.000000,33624.000000,33624.000000,33624.000000
mean,190.386748,11.505353,0.714490,2.500000,2.250000,1.256599,192.016631,15.132942,1017.865073,81.786798,3.054683,28.616227,0.992981
std,101.095180,6.923834,0.451664,1.118051,0.829169,0.477806,398.107366,5.095678,5.366975,15.831798,1.990280,34.347046,0.982528
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,990.000000,19.000000,0.000000,0.000000,0.000000
25%,103.000000,6.000000,0.000000,1.750000,1.750000,0.999999,0.000000,12.000000,1016.000000,72.428070,2.000000,0.000000,0.000000
50%,190.000000,12.000000,1.000000,2.500000,2.500000,1.000000,0.000000,14.947183,1018.000000,87.000000,3.000000,11.500000,1.000000
75%,278.000000,18.000000,1.000000,3.250000,3.000000,1.350835,0.000000,18.000000,1020.000000,93.000000,4.000000,75.000000,2.000000
max,365.000000,23.000000,1.000000,4.000000,3.000000,10.210303,1018.556738,34.000000,1033.000000,100.000000,14.000000,100.000000,2.000000

In [66]:
traffic_dataset.to_csv(r'../featured_datasets/traffic_dataset_complete.csv',index=False)