In [1]:
import pandas as pd
import numpy as np

> Separo o dataset em 4 frames de acordo com o road_num

In [2]:
traffic_dataset = pd.read_csv("../out_trafficflow.csv")
traffic_dataset.head()

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
0,15,19,1,1,3,0.999993,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
1,15,19,1,2,3,3.572872,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
2,15,19,1,3,1,1.301561,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
3,15,19,1,4,2,1.933359,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
4,15,20,1,1,3,0.999993,0.0,9.0,1020.0,93.0,1.0,20.0,0.0,0.0

In [3]:
road_1 = traffic_dataset[traffic_dataset['road_num'] == 1]
road_2 = traffic_dataset[traffic_dataset['road_num'] == 2]
road_3 = traffic_dataset[traffic_dataset['road_num'] == 3]
road_4 = traffic_dataset[traffic_dataset['road_num'] == 4]

In [4]:
road_1.head()

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
0,15,19,1,1,3,0.999993,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
4,15,20,1,1,3,0.999993,0.0,9.0,1020.0,93.0,1.0,20.0,0.0,0.0
8,15,21,1,1,3,0.999993,0.0,10.0,1020.0,87.0,2.0,75.0,0.0,0.0
12,15,22,1,1,3,0.999993,0.0,9.0,1020.0,93.0,3.0,75.0,0.0,0.0
16,15,23,1,1,3,0.999993,0.0,10.0,1020.0,93.0,4.0,75.0,0.0,0.0

In [5]:
road_1.describe()

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
count,8406.000000,8406.000000,8406.000000,8406.0,8406.0,6816.000000,6821.000000,6821.000000,6821.00000,6821.000000,6821.000000,6821.000000,6821.000000,6821.000000
mean,190.386748,11.505353,0.714490,1.0,3.0,1.123882,0.113620,15.119337,1017.86395,81.830523,3.050872,35.265797,0.985046,0.303035
std,101.099690,6.924143,0.451684,0.0,0.0,0.292960,0.441429,5.505620,5.95560,17.189841,2.179865,34.921124,0.978394,1.010257
min,15.000000,0.000000,0.000000,1.0,3.0,0.999992,0.000000,1.000000,990.00000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,103.000000,6.000000,0.000000,1.0,3.0,0.999996,0.000000,11.000000,1015.00000,72.000000,1.000000,0.000000,0.000000,0.000000
50%,190.000000,12.000000,1.000000,1.0,3.0,0.999997,0.000000,15.000000,1018.00000,87.000000,3.000000,20.000000,1.000000,0.000000
75%,278.000000,18.000000,1.000000,1.0,3.0,1.145830,0.000000,18.000000,1021.00000,93.000000,4.000000,75.000000,2.000000,0.000000
max,365.000000,23.000000,1.000000,1.0,3.0,6.206874,3.000000,34.000000,1033.00000,100.000000,14.000000,100.000000,2.000000,5.000000

In [6]:
pd.options.mode.chained_assignment = None
from scipy import stats

#Esta função preenche a luminosidade com uma moda nos últimos 10 dias

def filling_current_luminosity():

    last_cl = [] #ultimos 10 luminosidades
    last_cd = [] #ultimos 10 dias
    
    for df in (road_1,road_2,road_3,road_4):
        
        for row in df.iterrows():
            
            r = row[0]
            cl = row[1][12]#luminosidade
            cd = row[1][0]#dia
            
            
            if(pd.isnull(cl)):
                
                last_5_cl = last_cl[-5:]
                mode = stats.mode(last_5_cl)[0][0]
                df['current_luminosity'][r] = mode
                
                if(cd not in last_cd):
                    last_cd.append(cd)
                    last_cd.append(mode)
                
            else:
                #se já tem deste dia avança, caso contrario mete a moda
                if(cd not in last_cd):
                    last_cd.append(cd)
                    last_cl.append(cl)
                
                
filling_current_luminosity()

> Como podemos observar pela describe o current_luminosity foi removido

In [7]:
road_1.describe()
#road_2.describe()
#road_3.describe()
#road_4.describe()

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
count,8406.000000,8406.000000,8406.000000,8406.0,8406.0,6816.000000,6821.000000,6821.000000,6821.00000,6821.000000,6821.000000,6821.000000,8406.000000,6821.000000
mean,190.386748,11.505353,0.714490,1.0,3.0,1.123882,0.113620,15.119337,1017.86395,81.830523,3.050872,35.265797,0.799310,0.303035
std,101.099690,6.924143,0.451684,0.0,0.0,0.292960,0.441429,5.505620,5.95560,17.189841,2.179865,34.921124,0.961881,1.010257
min,15.000000,0.000000,0.000000,1.0,3.0,0.999992,0.000000,1.000000,990.00000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,103.000000,6.000000,0.000000,1.0,3.0,0.999996,0.000000,11.000000,1015.00000,72.000000,1.000000,0.000000,0.000000,0.000000
50%,190.000000,12.000000,1.000000,1.0,3.0,0.999997,0.000000,15.000000,1018.00000,87.000000,3.000000,20.000000,0.000000,0.000000
75%,278.000000,18.000000,1.000000,1.0,3.0,1.145830,0.000000,18.000000,1021.00000,93.000000,4.000000,75.000000,2.000000,0.000000
max,365.000000,23.000000,1.000000,1.0,3.0,6.206874,3.000000,34.000000,1033.00000,100.000000,14.000000,100.000000,2.000000,5.000000

> Remover todas as linhas que contêm missing values no time ratio

In [8]:
#quando encontra missing time ratio remove
def removing_missing_time_ratio():
    
    indexes = []
    dfs = []
    
    for df in (road_1,road_2,road_3,road_4):
        
        for row in df.iterrows():
            
            r = row[0]
            time_ratio = row[1][5]
            
            if(pd.isnull(time_ratio)):
                indexes.append(r)
                
        
        dfs.append(df.drop(indexes))
        indexes = []
    
    return dfs[0],dfs[1],dfs[2],dfs[3]
        
road_1, road_2, road_3, road_4 = removing_missing_time_ratio()

In [9]:
road_1.describe()
#road_2.describe()
#road_3.describe()
#road_4.describe()

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
count,6816.000000,6816.000000,6816.000000,6816.0,6816.0,6816.000000,6764.000000,6764.000000,6764.000000,6764.000000,6764.000000,6764.000000,6816.000000,6764.000000
mean,193.727553,11.470217,0.707013,1.0,3.0,1.123882,0.109255,15.131875,1017.917504,81.854820,3.034447,35.297605,0.979460,0.305588
std,99.584601,6.935633,0.455166,0.0,0.0,0.292960,0.432021,5.520603,5.930969,17.205972,2.152646,34.932435,0.978651,1.014121
min,15.000000,0.000000,0.000000,1.0,3.0,0.999992,0.000000,1.000000,990.000000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,119.000000,5.000000,0.000000,1.0,3.0,0.999996,0.000000,11.000000,1015.000000,72.000000,1.000000,0.000000,0.000000,0.000000
50%,193.000000,11.000000,1.000000,1.0,3.0,0.999997,0.000000,15.000000,1018.000000,87.000000,3.000000,20.000000,1.000000,0.000000
75%,277.000000,17.000000,1.000000,1.0,3.0,1.145830,0.000000,18.000000,1021.000000,93.000000,4.000000,75.000000,2.000000,0.000000
max,365.000000,23.000000,1.000000,1.0,3.0,6.206874,3.000000,34.000000,1033.000000,100.000000,14.000000,100.000000,2.000000,5.000000

> Interpolação linear em todos os outros atributos do weather

> Utilizo 3 horas antes do missing value, e 3 horas após encontrar algum valor após o missing value

In [12]:
def fill_and_return(idx,x_axis,y_axis,missing_axis,df):
    
     
    miss_rain = np.interp(missing_axis,x_axis,y_axis)
    
    for row in df.iterrows():
            
        r = row[0]
        #caso este seja missing, todos os outros são
        value = row[1][idx]
            
        if(pd.isnull(value)):
            
            if(r in missing_axis):
                index = missing_axis.index(r)
                value = miss_rain[index]
                if(idx == 6):
                    df['rain'][r] = value
                elif(idx == 7):
                    df['temperature'][r] = value
                elif(idx == 8):
                    df['atmospheric_pressure'][r] = value
                elif(idx == 9):
                    df['humidity'][r] = value
                elif(idx == 10):
                    df['wind_speed'][r] = value
                elif(idx == 11):
                    df['clouds'][r] = value
                elif(idx == 13):
                    df['atmosphere'][r] = value

In [13]:
def linear_interpolation_weather_features(df,max_hour_missing = 6):
    
    #primeiro verifico o espaço entre os missing, caso sejam mais que 6 horas de missing values, deixo como está
    #qd uma missing feature está presentes então todas as outras também estão, o que me facilita o processo
    
    x_axis = [] #valores presentes em x
    
    missing_axis = [] #valores missing do array
    temporay = []
    
    #todos os y values
    rain = []
    temperature = []
    atmospheric_pressure = []
    humidity = []
    wind_speed = []
    clouds = []
    atmosphere = []
    
    missing_row = 0
    
    for row in df.iterrows():
                
        #caso este seja missing, todos os outros são
        rain_value = row[1][6]
                
        if(pd.isnull(rain_value)):
            temporary.append(row[0])
            missing_row += 1 #1 hora missing
            
        else:    
            x_axis.append(row[0])
                
            #tem valor, existem missings antes? #Se sim, tem menos que 7 horas missing?
            #Se tiver interpolação linear, Caso contrário deixa missing
            if(missing_row != 0 and missing_row <= max_hour_missing):
                for i in temporary:
                    missing_axis.append(i)
                
            temporary = []
            missing_row = 0
                
            #apende dos valores
            rain.append(row[1][6])
            temperature.append(row[1][7])
            atmospheric_pressure.append(row[1][8])
            humidity.append(row[1][9])
            wind_speed.append(row[1][10])
            clouds.append(row[1][11])
            atmosphere.append(row[1][13])
            
    
    fill_and_return(6,x_axis,rain,missing_axis,df)
    fill_and_return(7,x_axis,temperature,missing_axis,df)
    fill_and_return(8,x_axis,atmospheric_pressure,missing_axis,df)
    fill_and_return(9,x_axis,humidity,missing_axis,df)
    fill_and_return(10,x_axis,wind_speed,missing_axis,df)
    fill_and_return(11,x_axis,clouds,missing_axis,df)
    fill_and_return(13,x_axis,atmosphere,missing_axis,df)
        
        
linear_interpolation_weather_features(road_1)
linear_interpolation_weather_features(road_2)
linear_interpolation_weather_features(road_3)
linear_interpolation_weather_features(road_4)

In [14]:
road_1.describe()

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
count,6816.000000,6816.000000,6816.000000,6816.0,6816.0,6816.000000,6799.000000,6799.000000,6799.000000,6799.000000,6799.000000,6799.000000,6816.000000,6799.000000
mean,193.727553,11.470217,0.707013,1.0,3.0,1.123882,0.108692,15.125827,1017.923936,81.846604,3.032873,35.344724,0.979460,0.305045
std,99.584601,6.935633,0.455166,0.0,0.0,0.292960,0.430978,5.523432,5.928851,17.194715,2.149536,34.926381,0.978651,1.012540
min,15.000000,0.000000,0.000000,1.0,3.0,0.999992,0.000000,1.000000,990.000000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,119.000000,5.000000,0.000000,1.0,3.0,0.999996,0.000000,11.000000,1015.000000,72.000000,1.000000,0.000000,0.000000,0.000000
50%,193.000000,11.000000,1.000000,1.0,3.0,0.999997,0.000000,15.000000,1018.000000,87.000000,3.000000,20.000000,1.000000,0.000000
75%,277.000000,17.000000,1.000000,1.0,3.0,1.145830,0.000000,18.000000,1021.000000,93.000000,4.000000,75.000000,2.000000,0.000000
max,365.000000,23.000000,1.000000,1.0,3.0,6.206874,3.000000,34.000000,1033.000000,100.000000,14.000000,100.000000,2.000000,5.000000

In [15]:
road_4

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
3,15,19,1,4,2,1.933359,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
7,15,20,1,4,2,1.106381,0.0,9.0,1020.0,93.0,1.0,20.0,0.0,0.0
11,15,21,1,4,2,0.999998,0.0,10.0,1020.0,87.0,2.0,75.0,0.0,0.0
15,15,22,1,4,2,0.999998,0.0,9.0,1020.0,93.0,3.0,75.0,0.0,0.0
19,15,23,1,4,2,0.999998,0.0,10.0,1020.0,93.0,4.0,75.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33607,365,19,1,4,2,1.103602,0.0,8.0,1031.0,93.0,0.0,0.0,0.0,4.0
33611,365,20,1,4,2,0.999999,0.0,6.0,1031.0,100.0,1.0,20.0,0.0,3.0
33615,365,21,1,4,2,0.999999,0.0,6.0,1031.0,100.0,0.0,20.0,0.0,3.0
33619,365,22,1,4,2,0.999999,0.0,5.0,1032.0,100.0,0.0,20.0,0.0,3.0
33623,365,23,1,4,2,0.999999,0.0,5.0,1032.0,100.0,1.0,40.0,0.0,3.0

> Now i have to put them all together again

In [16]:
# join by: `df1.col1 == df2.index`
#df = pd.DataFrame(data=numpy_data, index=["row1", "row2"], columns=["column1", "column2"])

r1 = road_1.to_numpy()
r2 = road_2.to_numpy()
r3 = road_3.to_numpy()
r4 = road_4.to_numpy()

final_dataset = np.zeros(shape=(r1.shape[0]*4,r1.shape[1]))

for i in range(r1.shape[0]):
    tmp = i*4
    final_dataset[tmp] = r1[i]
    final_dataset[tmp+1] = r2[i]
    final_dataset[tmp+2] = r3[i]
    final_dataset[tmp+3] = r4[i]
    

columns = ['Day of year','Hour','week_or_not','road_num','functional_road_class_desc','time_rate','rain','temperature','atmospheric_pressure','humidity','wind_speed','clouds','current_luminosity','atmosphere']
final_dataset = pd.DataFrame(data=final_dataset, columns=columns)

In [17]:
final_dataset

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
0,15.0,19.0,1.0,1.0,3.0,0.999993,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
1,15.0,19.0,1.0,2.0,3.0,3.572872,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
2,15.0,19.0,1.0,3.0,1.0,1.301561,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
3,15.0,19.0,1.0,4.0,2.0,1.933359,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
4,15.0,20.0,1.0,1.0,3.0,0.999993,0.0,9.0,1020.0,93.0,1.0,20.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27259,365.0,22.0,1.0,4.0,2.0,0.999999,0.0,5.0,1032.0,100.0,0.0,20.0,0.0,3.0
27260,365.0,23.0,1.0,1.0,3.0,1.083329,0.0,5.0,1032.0,100.0,1.0,40.0,0.0,3.0
27261,365.0,23.0,1.0,2.0,3.0,1.134874,0.0,5.0,1032.0,100.0,1.0,40.0,0.0,3.0
27262,365.0,23.0,1.0,3.0,1.0,0.999999,0.0,5.0,1032.0,100.0,1.0,40.0,0.0,3.0
27263,365.0,23.0,1.0,4.0,2.0,0.999999,0.0,5.0,1032.0,100.0,1.0,40.0,0.0,3.0

In [18]:
final_dataset.to_csv('final_dataset.csv',index=False)