In [23]:
import pandas as pd
import numpy as np

> Separo o dataset em 4 frames de acordo com o road_num

In [24]:
traffic_dataset = pd.read_csv("../final_datasets/out_trafficflow.csv")
traffic_dataset.describe()

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
count,33620.000000,33620.000000,33620.000000,33620.000000,33620.000000,27260.000000,27280.000000,27280.000000,27280.000000,27280.000000,27280.000000,27280.000000,27280.000000,27280.000000
mean,190.395598,11.505651,0.714456,2.500000,2.250000,0.874601,0.113636,15.119795,1017.862610,81.832698,3.050880,35.265103,0.984897,0.303079
std,101.097937,6.924192,0.451680,1.118051,0.829169,0.179114,0.441435,5.505592,5.954681,17.189218,2.179905,34.921717,0.978334,1.010269
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,990.000000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,103.000000,6.000000,0.000000,1.750000,1.750000,0.767359,0.000000,11.000000,1015.000000,72.000000,1.000000,0.000000,0.000000,0.000000
50%,190.000000,12.000000,1.000000,2.500000,2.500000,0.999996,0.000000,15.000000,1018.000000,87.000000,3.000000,20.000000,1.000000,0.000000
75%,278.000000,18.000000,1.000000,3.250000,3.000000,0.999999,0.000000,18.000000,1021.000000,93.000000,4.000000,75.000000,2.000000,0.000000
max,365.000000,23.000000,1.000000,4.000000,3.000000,1.000000,3.000000,34.000000,1033.000000,100.000000,14.000000,100.000000,2.000000,5.000000

In [25]:
road_1 = traffic_dataset[traffic_dataset['road_num'] == 1]
road_2 = traffic_dataset[traffic_dataset['road_num'] == 2]
road_3 = traffic_dataset[traffic_dataset['road_num'] == 3]
road_4 = traffic_dataset[traffic_dataset['road_num'] == 4]

In [26]:
road_1.head()

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
0,15,19,1,1,3,0.999993,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
4,15,20,1,1,3,0.999993,0.0,9.0,1020.0,93.0,1.0,20.0,0.0,0.0
8,15,21,1,1,3,0.999993,0.0,10.0,1020.0,87.0,2.0,75.0,0.0,0.0
12,15,22,1,1,3,0.999993,0.0,9.0,1020.0,93.0,3.0,75.0,0.0,0.0
16,15,23,1,1,3,0.999993,0.0,10.0,1020.0,93.0,4.0,75.0,0.0,0.0

In [27]:
road_1.describe()

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
count,8405.000000,8405.000000,8405.000000,8405.0,8405.0,6815.000000,6820.000000,6820.000000,6820.000000,6820.000000,6820.000000,6820.000000,6820.000000,6820.000000
mean,190.395598,11.505651,0.714456,1.0,3.0,0.932803,0.113636,15.119795,1017.862610,81.832698,3.050880,35.265103,0.984897,0.303079
std,101.102449,6.924501,0.451700,0.0,0.0,0.117994,0.441460,5.505895,5.955009,17.190163,2.180025,34.923638,0.978388,1.010325
min,15.000000,0.000000,0.000000,1.0,3.0,0.167377,0.000000,1.000000,990.000000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,103.000000,6.000000,0.000000,1.0,3.0,0.896823,0.000000,11.000000,1015.000000,72.000000,1.000000,0.000000,0.000000,0.000000
50%,190.000000,12.000000,1.000000,1.0,3.0,0.999996,0.000000,15.000000,1018.000000,87.000000,3.000000,20.000000,1.000000,0.000000
75%,278.000000,18.000000,1.000000,1.0,3.0,0.999997,0.000000,18.000000,1021.000000,93.000000,4.000000,75.000000,2.000000,0.000000
max,365.000000,23.000000,1.000000,1.0,3.0,0.999997,3.000000,34.000000,1033.000000,100.000000,14.000000,100.000000,2.000000,5.000000

In [28]:
pd.options.mode.chained_assignment = None
from scipy import stats

#Esta função preenche a luminosidade com uma moda nos últimos 10 dias

def filling_current_luminosity():

    last_cl = [] #ultimos 10 luminosidades
    last_cd = [] #ultimos 10 dias
    
    for df in (road_1,road_2,road_3,road_4):
        
        for row in df.iterrows():
            
            r = row[0]
            cl = row[1][12]#luminosidade
            cd = row[1][0]#dia
            
            
            if(pd.isnull(cl)):
                
                last_5_cl = last_cl[-5:]
                mode = stats.mode(last_5_cl)[0][0]
                df['current_luminosity'][r] = mode
                
                if(cd not in last_cd):
                    last_cd.append(cd)
                    last_cd.append(mode)
                
            else:
                #se já tem deste dia avança, caso contrario mete a moda
                if(cd not in last_cd):
                    last_cd.append(cd)
                    last_cl.append(cl)
                
                
filling_current_luminosity()

> Como podemos observar pela describe o current_luminosity foi removido

In [29]:
road_1.describe()
#road_2.describe()
#road_3.describe()
#road_4.describe()

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
count,8405.000000,8405.000000,8405.000000,8405.0,8405.0,6815.000000,6820.000000,6820.000000,6820.000000,6820.000000,6820.000000,6820.000000,8405.000000,6820.000000
mean,190.395598,11.505651,0.714456,1.0,3.0,0.932803,0.113636,15.119795,1017.862610,81.832698,3.050880,35.265103,0.799167,0.303079
std,101.102449,6.924501,0.451700,0.0,0.0,0.117994,0.441460,5.505895,5.955009,17.190163,2.180025,34.923638,0.961849,1.010325
min,15.000000,0.000000,0.000000,1.0,3.0,0.167377,0.000000,1.000000,990.000000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,103.000000,6.000000,0.000000,1.0,3.0,0.896823,0.000000,11.000000,1015.000000,72.000000,1.000000,0.000000,0.000000,0.000000
50%,190.000000,12.000000,1.000000,1.0,3.0,0.999996,0.000000,15.000000,1018.000000,87.000000,3.000000,20.000000,0.000000,0.000000
75%,278.000000,18.000000,1.000000,1.0,3.0,0.999997,0.000000,18.000000,1021.000000,93.000000,4.000000,75.000000,2.000000,0.000000
max,365.000000,23.000000,1.000000,1.0,3.0,0.999997,3.000000,34.000000,1033.000000,100.000000,14.000000,100.000000,2.000000,5.000000

> Remover todas as linhas que contêm missing values no time ratio

In [30]:
#quando encontra missing time ratio remove
def missing_time_ratio():
    
    indexes = []
    
    for row in traffic_dataset.iterrows():
    
        r = row[0]
        time_ratio = row[1][5]
            
        if(not pd.isnull(time_ratio)):
            indexes.append(r)
                
    return traffic_dataset.drop(indexes)

def removing_missing_time_ratio():
    
    indexes = []
    dfs = []
    
    for df in (road_1,road_2,road_3,road_4):
        
        for row in df.iterrows():
            
            r = row[0]
            time_ratio = row[1][5]
            
            if(pd.isnull(time_ratio)):
                indexes.append(r)
                
        
        dfs.append(df.drop(indexes))
        indexes = []
    
    return dfs[0],dfs[1],dfs[2],dfs[3]
        
road_1, road_2, road_3, road_4 = removing_missing_time_ratio()
traffic_dataset = missing_time_ratio()

In [31]:
road_1.describe()
#road_2.describe()
#road_3.describe()
#road_4.describe()

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
count,6815.000000,6815.000000,6815.000000,6815.0,6815.0,6815.000000,6763.000000,6763.000000,6763.000000,6763.000000,6763.000000,6763.000000,6815.000000,6763.000000
mean,193.738958,11.470580,0.706970,1.0,3.0,0.932803,0.109271,15.132338,1017.916161,81.857016,3.034452,35.296910,0.979310,0.305634
std,99.587456,6.936077,0.455186,0.0,0.0,0.117994,0.432051,5.520880,5.930379,17.206295,2.152806,34.934971,0.978645,1.014189
min,15.000000,0.000000,0.000000,1.0,3.0,0.167377,0.000000,1.000000,990.000000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,119.000000,5.000000,0.000000,1.0,3.0,0.896823,0.000000,11.000000,1015.000000,72.000000,1.000000,0.000000,0.000000,0.000000
50%,193.000000,11.000000,1.000000,1.0,3.0,0.999996,0.000000,15.000000,1018.000000,87.000000,3.000000,20.000000,1.000000,0.000000
75%,277.000000,17.000000,1.000000,1.0,3.0,0.999997,0.000000,18.000000,1021.000000,93.000000,4.000000,75.000000,2.000000,0.000000
max,365.000000,23.000000,1.000000,1.0,3.0,0.999997,3.000000,34.000000,1033.000000,100.000000,14.000000,100.000000,2.000000,5.000000

In [32]:
traffic_dataset.describe()

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
count,6360.000000,6360.000000,6360.000000,6360.000000,6360.000000,0.0,228.000000,228.000000,228.000000,228.000000,228.000000,228.000000,228.000000,228.0
mean,176.065409,11.655975,0.746541,2.500000,2.250000,NaN,0.631579,13.631579,1011.508772,78.947368,5.000000,31.491228,0.754386,0.0
std,106.175337,6.873183,0.435026,1.118122,0.829221,NaN,0.950429,2.918159,5.441310,14.908143,3.870139,33.410607,0.925045,0.0
min,51.000000,0.000000,0.000000,1.000000,1.000000,NaN,0.000000,9.000000,999.000000,42.000000,0.000000,0.000000,0.000000,0.0
25%,81.000000,6.000000,0.000000,1.750000,1.750000,NaN,0.000000,12.000000,1008.000000,71.000000,2.000000,0.000000,0.000000,0.0
50%,118.500000,12.000000,1.000000,2.500000,2.500000,NaN,0.000000,13.000000,1013.000000,81.000000,4.000000,20.000000,0.000000,0.0
75%,324.000000,18.000000,1.000000,3.250000,3.000000,NaN,2.000000,14.000000,1015.000000,93.000000,9.000000,75.000000,2.000000,0.0
max,345.000000,23.000000,1.000000,4.000000,3.000000,NaN,3.000000,22.000000,1023.000000,100.000000,13.000000,90.000000,2.000000,0.0

> Interpolação linear em todos os outros atributos do weather

> Utilizo 3 horas antes do missing value, e 3 horas após encontrar algum valor após o missing value

In [33]:
def fill_and_return(idx,x_axis,y_axis,missing_axis,df):
    
     
    miss_rain = np.round(np.interp(missing_axis,x_axis,y_axis))
    
    for row in df.iterrows():
            
        r = row[0]
        #caso este seja missing, todos os outros são
        value = row[1][idx]
            
        if(pd.isnull(value)):
            
            if(r in missing_axis):
                index = missing_axis.index(r)
                value = miss_rain[index]
                if(idx == 6):
                    df['rain'][r] = value
                elif(idx == 7):
                    df['temperature'][r] = value
                elif(idx == 8):
                    df['atmospheric_pressure'][r] = value
                elif(idx == 9):
                    df['humidity'][r] = value
                elif(idx == 10):
                    df['wind_speed'][r] = value
                elif(idx == 11):
                    df['clouds'][r] = value
                elif(idx == 13):
                    df['atmosphere'][r] = value

In [34]:
def linear_interpolation_weather_features(df,max_hour_missing = 6):
    
    #primeiro verifico o espaço entre os missing, caso sejam mais que 6 horas de missing values, deixo como está
    #qd uma missing feature está presentes então todas as outras também estão, o que me facilita o processo
    
    x_axis = [] #valores presentes em x
    
    missing_axis = [] #valores missing do array
    temporay = []
    
    #todos os y values
    rain = []
    temperature = []
    atmospheric_pressure = []
    humidity = []
    wind_speed = []
    clouds = []
    atmosphere = []
    
    missing_row = 0
    
    for row in df.iterrows():
                
        #caso este seja missing, todos os outros são
        rain_value = row[1][6]
                
        if(pd.isnull(rain_value)):
            temporary.append(row[0])
            missing_row += 1 #1 hora missing
            
        else:    
            x_axis.append(row[0])
                
            #tem valor, existem missings antes? #Se sim, tem menos que 7 horas missing?
            #Se tiver interpolação linear, Caso contrário deixa missing
            if(missing_row != 0 and missing_row <= max_hour_missing):
                for i in temporary:
                    missing_axis.append(i)
                
            temporary = []
            missing_row = 0
                
            #apende dos valores
            rain.append(row[1][6])
            temperature.append(row[1][7])
            atmospheric_pressure.append(row[1][8])
            humidity.append(row[1][9])
            wind_speed.append(row[1][10])
            clouds.append(row[1][11])
            atmosphere.append(row[1][13])
            
    
    fill_and_return(6,x_axis,rain,missing_axis,df)
    fill_and_return(7,x_axis,temperature,missing_axis,df)
    fill_and_return(8,x_axis,atmospheric_pressure,missing_axis,df)
    fill_and_return(9,x_axis,humidity,missing_axis,df)
    fill_and_return(10,x_axis,wind_speed,missing_axis,df)
    fill_and_return(11,x_axis,clouds,missing_axis,df)
    fill_and_return(13,x_axis,atmosphere,missing_axis,df)
        
        
linear_interpolation_weather_features(road_1)
linear_interpolation_weather_features(road_2)
linear_interpolation_weather_features(road_3)
linear_interpolation_weather_features(road_4)

In [35]:
road_1.describe()

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
count,6815.000000,6815.000000,6815.000000,6815.0,6815.0,6815.000000,6798.000000,6798.000000,6798.000000,6798.000000,6798.000000,6798.000000,6815.000000,6798.000000
mean,193.738958,11.470580,0.706970,1.0,3.0,0.932803,0.108708,15.126066,1017.922919,81.849367,3.032510,35.343925,0.979310,0.305090
std,99.587456,6.936077,0.455186,0.0,0.0,0.117994,0.431008,5.523406,5.928161,17.194299,2.149681,34.928747,0.978645,1.012591
min,15.000000,0.000000,0.000000,1.0,3.0,0.167377,0.000000,1.000000,990.000000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,119.000000,5.000000,0.000000,1.0,3.0,0.896823,0.000000,11.000000,1015.000000,72.000000,1.000000,0.000000,0.000000,0.000000
50%,193.000000,11.000000,1.000000,1.0,3.0,0.999996,0.000000,15.000000,1018.000000,87.000000,3.000000,20.000000,1.000000,0.000000
75%,277.000000,17.000000,1.000000,1.0,3.0,0.999997,0.000000,18.000000,1021.000000,93.000000,4.000000,75.000000,2.000000,0.000000
max,365.000000,23.000000,1.000000,1.0,3.0,0.999997,3.000000,34.000000,1033.000000,100.000000,14.000000,100.000000,2.000000,5.000000

In [36]:
road_4

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
3,15,19,1,4,2,0.545009,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
7,15,20,1,4,2,0.919353,0.0,9.0,1020.0,93.0,1.0,20.0,0.0,0.0
11,15,21,1,4,2,0.999998,0.0,10.0,1020.0,87.0,2.0,75.0,0.0,0.0
15,15,22,1,4,2,0.999998,0.0,9.0,1020.0,93.0,3.0,75.0,0.0,0.0
19,15,23,1,4,2,0.999998,0.0,10.0,1020.0,93.0,4.0,75.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33603,365,19,1,4,2,0.920961,0.0,8.0,1031.0,93.0,0.0,0.0,0.0,4.0
33607,365,20,1,4,2,0.999999,0.0,6.0,1031.0,100.0,1.0,20.0,0.0,3.0
33611,365,21,1,4,2,0.999999,0.0,6.0,1031.0,100.0,0.0,20.0,0.0,3.0
33615,365,22,1,4,2,0.999999,0.0,5.0,1032.0,100.0,0.0,20.0,0.0,3.0
33619,365,23,1,4,2,0.999999,0.0,5.0,1032.0,100.0,1.0,40.0,0.0,3.0

> Now i have to put them all together again

In [37]:
# join by: `df1.col1 == df2.index`
#df = pd.DataFrame(data=numpy_data, index=["row1", "row2"], columns=["column1", "column2"])

r1 = road_1.to_numpy()
r2 = road_2.to_numpy()
r3 = road_3.to_numpy()
r4 = road_4.to_numpy()

final_dataset = np.zeros(shape=(r1.shape[0]*4,r1.shape[1]))

for i in range(r1.shape[0]):
    tmp = i*4
    final_dataset[tmp] = r1[i]
    final_dataset[tmp+1] = r2[i]
    final_dataset[tmp+2] = r3[i]
    final_dataset[tmp+3] = r4[i]
    

columns = ['Day of year','Hour','week_or_not','road_num','functional_road_class_desc','time_rate','rain','temperature','atmospheric_pressure','humidity','wind_speed','clouds','current_luminosity','atmosphere']
final_dataset = pd.DataFrame(data=final_dataset, columns=columns)

In [38]:
final_dataset

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
0,15.0,19.0,1.0,1.0,3.0,0.999993,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
1,15.0,19.0,1.0,2.0,3.0,0.292290,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
2,15.0,19.0,1.0,3.0,1.0,0.793552,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
3,15.0,19.0,1.0,4.0,2.0,0.545009,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
4,15.0,20.0,1.0,1.0,3.0,0.999993,0.0,9.0,1020.0,93.0,1.0,20.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27255,365.0,22.0,1.0,4.0,2.0,0.999999,0.0,5.0,1032.0,100.0,0.0,20.0,0.0,3.0
27256,365.0,23.0,1.0,1.0,3.0,0.933330,0.0,5.0,1032.0,100.0,1.0,40.0,0.0,3.0
27257,365.0,23.0,1.0,2.0,3.0,0.887820,0.0,5.0,1032.0,100.0,1.0,40.0,0.0,3.0
27258,365.0,23.0,1.0,3.0,1.0,0.999999,0.0,5.0,1032.0,100.0,1.0,40.0,0.0,3.0
27259,365.0,23.0,1.0,4.0,2.0,0.999999,0.0,5.0,1032.0,100.0,1.0,40.0,0.0,3.0

In [39]:
#FAz o que quiseres aqui gui

#final_dataset -> sem miss
#traffic_dataset -> com miss

#pd.merge(final_dataset,traffic_dataset)

In [40]:
final_dataset

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
0,15.0,19.0,1.0,1.0,3.0,0.999993,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
1,15.0,19.0,1.0,2.0,3.0,0.292290,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
2,15.0,19.0,1.0,3.0,1.0,0.793552,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
3,15.0,19.0,1.0,4.0,2.0,0.545009,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
4,15.0,20.0,1.0,1.0,3.0,0.999993,0.0,9.0,1020.0,93.0,1.0,20.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27255,365.0,22.0,1.0,4.0,2.0,0.999999,0.0,5.0,1032.0,100.0,0.0,20.0,0.0,3.0
27256,365.0,23.0,1.0,1.0,3.0,0.933330,0.0,5.0,1032.0,100.0,1.0,40.0,0.0,3.0
27257,365.0,23.0,1.0,2.0,3.0,0.887820,0.0,5.0,1032.0,100.0,1.0,40.0,0.0,3.0
27258,365.0,23.0,1.0,3.0,1.0,0.999999,0.0,5.0,1032.0,100.0,1.0,40.0,0.0,3.0
27259,365.0,23.0,1.0,4.0,2.0,0.999999,0.0,5.0,1032.0,100.0,1.0,40.0,0.0,3.0

In [41]:
traffic_dataset

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
3432,51,13,1,1,3,NaN,0.0,13.0,1023.0,54.0,3.0,0.0,2.0,0.0
3433,51,13,1,2,3,NaN,0.0,13.0,1023.0,54.0,3.0,0.0,2.0,0.0
3434,51,13,1,3,1,NaN,0.0,13.0,1023.0,54.0,3.0,0.0,2.0,0.0
3435,51,13,1,4,2,NaN,0.0,13.0,1023.0,54.0,3.0,0.0,2.0,0.0
4752,65,7,1,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31663,345,14,1,4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31664,345,15,1,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31665,345,15,1,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31666,345,15,1,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31667,345,15,1,4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
frames = [ final_dataset,traffic_dataset]
result = pd.concat(frames).sort_values(['Day of year','Hour','road_num'])

In [43]:
result

,Day of year,Hour,week_or_not,road_num,functional_road_class_desc,time_rate,rain,temperature,atmospheric_pressure,humidity,wind_speed,clouds,current_luminosity,atmosphere
0,15.0,19.0,1.0,1.0,3.0,0.999993,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
1,15.0,19.0,1.0,2.0,3.0,0.292290,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
2,15.0,19.0,1.0,3.0,1.0,0.793552,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
3,15.0,19.0,1.0,4.0,2.0,0.545009,0.0,8.0,1019.0,93.0,1.0,12.0,0.0,0.0
4,15.0,20.0,1.0,1.0,3.0,0.999993,0.0,9.0,1020.0,93.0,1.0,20.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27255,365.0,22.0,1.0,4.0,2.0,0.999999,0.0,5.0,1032.0,100.0,0.0,20.0,0.0,3.0
27256,365.0,23.0,1.0,1.0,3.0,0.933330,0.0,5.0,1032.0,100.0,1.0,40.0,0.0,3.0
27257,365.0,23.0,1.0,2.0,3.0,0.887820,0.0,5.0,1032.0,100.0,1.0,40.0,0.0,3.0
27258,365.0,23.0,1.0,3.0,1.0,0.999999,0.0,5.0,1032.0,100.0,1.0,40.0,0.0,3.0
27259,365.0,23.0,1.0,4.0,2.0,0.999999,0.0,5.0,1032.0,100.0,1.0,40.0,0.0,3.0

In [44]:
result.to_csv('../final_datasets/final_dataset.csv',index=False)